Snmp/Snmp/SnmpConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Snmp" elementFormDefault="qualified" targetNamespace="urn:Snmp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="snmpConfiguration" type="tns:Snmp.SnmpConfigurationCT" />
	<xs:complexType name="Snmp.SnmpConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="devices" type="tns:Snmp.DeviceCollectionCT">
				<xs:annotation>
					<xs:documentation>The Devices.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="queryInterval" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The QueryInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="multipleStateObjectsPerDevice" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The MultipleStateObjectsPerDevice.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Snmp.DeviceCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="community" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Community.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Snmp.DeviceCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="device" type="tns:Snmp.DeviceCT">
				<xs:annotation>
					<xs:documentation>The Device Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
