xbmc/Xbmc/XbmcConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Xbmc" elementFormDefault="qualified" targetNamespace="urn:Xbmc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xbmcConfigurationSection" type="tns:Xbmc.XbmcConfigurationSectionCT" />
	<xs:complexType name="Xbmc.XbmcConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="hosts" type="tns:Xbmc.XbmcHostsCT">
				<xs:annotation>
					<xs:documentation>The Hosts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Xbmc.XbmcHostCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="login" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Login.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="interval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Interval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Xbmc.XbmcHostsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="xbmcHost" type="tns:Xbmc.XbmcHostCT">
				<xs:annotation>
					<xs:documentation>The XbmcHost Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
