GraylogConnector/GraylogConnector/GraylogConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:GraylogConnector" elementFormDefault="qualified" targetNamespace="urn:GraylogConnector" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="graylogConfiguration" type="tns:GraylogConnector.GraylogConfigurationCT" />
	<xs:complexType name="GraylogConnector.GraylogConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="subscriptions" type="tns:GraylogConnector.SubscriptionCollectionCT">
				<xs:annotation>
					<xs:documentation>The Subscriptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="outputs" type="tns:GraylogConnector.GelfOutputCollectionCT">
				<xs:annotation>
					<xs:documentation>The GelfOutputs.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="sendPackageLogs" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The SendPackageLogs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendPackageStates" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The SendPackageStates.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendSentinelUpdates" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The SendSentinelUpdates.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.SubscriptionCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="subscription" type="tns:GraylogConnector.SubscriptionCT">
				<xs:annotation>
					<xs:documentation>The Subscription Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.SubscriptionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="aggregation" type="tns:GraylogConnector.AggregatePropertyCollectionCT">
				<xs:annotation>
					<xs:documentation>The Aggregation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exclusions" type="tns:GraylogConnector.ExclusionCollectionCT">
				<xs:annotation>
					<xs:documentation>The Exclusions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="sentinel" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Sentinel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="package" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enable" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.GelfOutputElementCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="protocol" use="optional" type="tns:GelfOutputProtocol">
			<xs:annotation>
				<xs:documentation>The Protocol.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enable" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.GelfOutputCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="gelfOutput" type="tns:GraylogConnector.GelfOutputElementCT">
				<xs:annotation>
					<xs:documentation>The GelfOutputElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.AggregatePropertyElementCT">
		<xs:attribute name="propertyName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PropertyName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="includeAggregateInfo" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IncludeAggregateInfo.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.AggregatePropertyCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="aggregateProperty" type="tns:GraylogConnector.AggregatePropertyElementCT">
				<xs:annotation>
					<xs:documentation>The AggregatePropertyElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="interval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Interval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.ExclusionElementCT">
		<xs:attribute name="sentinel" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Sentinel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="package" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GraylogConnector.ExclusionCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="exclusion" type="tns:GraylogConnector.ExclusionElementCT">
				<xs:annotation>
					<xs:documentation>The ExclusionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="GelfOutputProtocol">
		<xs:annotation>
			<xs:documentation>GelfOutputProtocol.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Udp">
				<xs:annotation>
					<xs:documentation>Udp.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tcp">
				<xs:annotation>
					<xs:documentation>Tcp.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
