PiModbus/PiModbus/PythonConfigurationSection.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Constellation.PythonProxy" elementFormDefault="qualified" targetNamespace="urn:Constellation.PythonProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pythonProxy" type="tns:Constellation.PythonProxy.PythonConfigurationSectionCT" />
	<xs:complexType name="Constellation.PythonProxy.PythonConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="scripts" type="tns:Constellation.PythonProxy.PythonScriptCollectionCT">
				<xs:annotation>
					<xs:documentation>Python scripts to run</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="scriptStartupTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>Starting script timeout (in ms)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scriptCloseTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>Closing script timeout (in ms)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pythonCmd" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The python command used to start Python script ('python' by default)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.PythonProxy.PythonScriptElementCT">
		<xs:attribute name="filename" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The relative filename of the Python script</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startupTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>Starting script timeout (in ms)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="closeTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>Closing script timeout (in ms)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="unbuffered" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Buffered or not the output</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pythonCmd" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The python command used to start Python script ('python' by default)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.PythonProxy.PythonScriptCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="script" type="tns:Constellation.PythonProxy.PythonScriptElementCT">
				<xs:annotation>
					<xs:documentation>A Python script to run</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
