PerfCounter/PerfCounter/PerfCounterConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:PerfCounter" elementFormDefault="qualified" targetNamespace="urn:PerfCounter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="perfCounterSection" type="tns:PerfCounter.PerfCounterSectionCT" />
	<xs:complexType name="PerfCounter.PerfCounterSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="perfCounters" type="tns:PerfCounter.PerfCounterCollectionCT">
				<xs:annotation>
					<xs:documentation>The PerfCounters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PerfCounter.PerfCounterCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="perfCounter" type="tns:PerfCounter.PerfCounterCT">
				<xs:annotation>
					<xs:documentation>The PerfCounter Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PerfCounter.PerfCounterCT">
		<xs:attribute name="categoryName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CategoryName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="counterName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CounterName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="instanceName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InstanceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="machineName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MachineName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
