SSound/SSound/SSoundConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:SSound" elementFormDefault="qualified" targetNamespace="urn:SSound" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ssoundConfiguration" type="tns:SSound.SSoundConfigurationSectionCT" />
	<xs:complexType name="SSound.SSoundConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="inputs" type="tns:SSound.InputDeviceCollectionCT">
				<xs:annotation>
					<xs:documentation>The Inputs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cerevoice" type="tns:SSound.CerevoiceElementCT">
				<xs:annotation>
					<xs:documentation>The Cerevoice.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="endpointName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EndpointName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableDlnaRenderer" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableDlnaRenderer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initialVolume" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The InitialVolume.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="outputDeviceName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OutputDeviceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="speechVolume" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The SpeechVolume.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SSound.InputDeviceElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inputDeviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InputDeviceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hasSignalDuration" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The HasSignalDuration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="noSignalDuration" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The NoSignalDuration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bufferMilliseconds" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The BufferMilliseconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="signalThreshold" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The SignalThreshold.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="autoPlay" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AutoPlay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SSound.InputDeviceCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="device" type="tns:SSound.InputDeviceElementCT">
				<xs:annotation>
					<xs:documentation>The InputDeviceElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SSound.InputDeviceCollectionRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="SSound.InputDeviceCollectionClearCT" />
	<xs:complexType name="SSound.CerevoiceElementCT">
		<xs:attribute name="accountID" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AccountID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="voiceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The VoiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bitrate" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Bitrate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
