ForecastIO/ForecastIO/ForecastIOConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ForecastIO" elementFormDefault="qualified" targetNamespace="urn:ForecastIO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="forecastIOConfigurationSection" type="tns:ForecastIO.ForecastIOConfigurationSectionCT" />
	<xs:complexType name="ForecastIO.ForecastIOConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="stations" type="tns:ForecastIO.StationsCollectionCT">
				<xs:annotation>
					<xs:documentation>The Stations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="refreshInterval" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The RefreshInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="apiKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApiKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="language" use="optional">
			<xs:annotation>
				<xs:documentation>The Language.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="unit" use="optional">
			<xs:annotation>
				<xs:documentation>The Unit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ForecastIO.StationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="longitude" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The Longitude.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="latitude" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The Latitude.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ForecastIO.StationsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="station" type="tns:ForecastIO.StationElementCT">
				<xs:annotation>
					<xs:documentation>The StationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
